@import "../base";
.header{
  // padding-top: 50px;
  height: 80px;
  background-color: #ffffff;
  &__cont{
    @include commonWidth;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
