@import "../../components/base";

.address{
  @include commonWidth;
  display: flex;
  height: .8rem;
  border-bottom: 1px solid $border-gray;
  font-size: .16rem;
  align-items: center;
  .icon{
    margin-right: .1rem;
    vertical-align: middle;
  }
  span{
    margin-right: .25rem;
    vertical-align: middle;
  }
  a{
    @include stylelessA;
  }
}