@import "../../components/base";

.address{
  @include commonWidth;
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px solid $border-gray;
  box-sizing: content-box;
  font-size: 0;
  .icon{
    margin-right: .1rem;
    vertical-align: middle;
  }
  span{
    margin-right: .25rem;
    vertical-align: middle;
    font-size: .16rem;
  }
  a{
    @include stylelessA;
    font-size: .16rem;
  }
}