@import '../../components/base';

.notLocker{
  padding-top: 1rem;
  padding-bottom: .2rem;
  text-align: center;
  p{
    margin-bottom: .6rem;
    font-size: .2rem;
    color: #333333;
  }
  a{
    @include stylelessA;
  }
}