@import "./base";

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &__mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 99; 
  }
  &__main{
    position: absolute;
    padding: 0 .3rem;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 5rem;
    min-height: 3rem;
    background: #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
    z-index: 100;
    display: flex;
    flex-direction: column;
    font-size: .16rem;
    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: .6rem;
      img{
        cursor: pointer;
      }
    }
    &__cont{
      flex: 1;
      text-align: center;
    }
    &__footer{
      margin-bottom: .7rem;
      text-align: center;
      &__button{
        @include stylelessA;
        display: inline-block;
        width: 1.6rem;
        height: .5rem;
        line-height: .5rem;
        border-radius: 6px;
        text-align: center;
        color: #ffffff;
        &-blue{
          background: $theme-blue;
          border: 1px solid $theme-blue;
        }
        &-border{
          background: #ffffff;
          border: 1px solid $theme-blue;
          color: $theme-blue;
        }
        &:not(:last-child){
          margin-right: .2rem;
        }
      }
    }
  }
  &__main-confirm{
    min-height: auto;
    &__footer{
      margin-top: .4rem;
      margin-bottom: .2rem;
      text-align: right;
      &__button{
        @include stylelessA;
        display: inline-block;
        width: 1.2rem;
        height: .4rem;
        line-height: .4rem;
        border-radius: 6px;
        text-align: center;
        color: #ffffff;
        background: $theme-blue;
      }
    }
  }
}