@import './base';
.lang{
  &__menu{
    border-radius: 4px;
    overflow: hidden;
    .ant-menu-item:not(:last-child){
      span{
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        border-bottom: solid 1px #dddddd;
      }
    }
  }
  
  &__dropdown{
    font-size: .16rem;
    color: $theme-blue;
    cursor: pointer;
  }
}