*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 625%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Microsoft YaHei", "微软雅黑", "PingFangSC-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: .16rem;
  color: #333333;
  background-color: #f8fafc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
